fastapi
uvicorn
python-dotenv
textual>=6.2.1
requests>=2.31.0
asyncpg # Postgresql dependency
greenlet # sqlalchemy dependency
sqlalchemy
pydantic[email]
alembic
pyjwt # JWT token handling
bcrypt # Password hashing
-e ../sdk
